################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TransportProjBase/TransportProj/obj/Debug
